<%- include("partials/header"); -%>

    <header>
        
    </header>

    <form class="form-group" action="/earnings" method="post">
        <h1 class="heading"> Earnings Statements </h1>
        <input class="form-control" id="tickerInput" type="text" name="tickerName" placeholder="US Ticker">
        <br>
        <button class="btn" type="submit" name="submit"> Search </button>
    </form>

    <section class="guide-section">
        <p>1) Insira um ticker de uma companhia americana </p>
        <p>2) Clique em pesquisar </p>
    </section>

   
<%- include("partials/footer"); -%>