<%- include("partials/header"); -%>

<header>

</header>

<h1 class="heading"> US Stock Finder </h1>

<div class="head-form">
    <form class="form-group" action="/overview">
        <button class="btn"> Overview </button>
    </form>
    <form class="form-group" action="/balance_sheet_hp">
        <button class="btn"> Balance Sheet </button>
    </form>
</div>
<br>
<div class="head-form">
    <form class="form-group" action="/earnings_hp">
        <button class="btn"> Earnings </button>
    </form>
    <form class="form-group" action="ratio_hp">
        <button class="btn"> Annual Ratios </button>
    </form>
</div>
<div class="head-form">
    <a class="form-group" href="https://bugg.com.br/category/buggpedia/page/10/">
        <button class="btn" type="submit"> Buggpedia </button>
    </a>
</div>




<section class="guide-section">
    <p>1) Clique em alguma opção </p>
    <p>2) Acesse a homepage da opção </p>
    <p>3) Pesquise pelo ticker a companhia que você deseja </p>
    <p>4) Ficou com dúvida? Clique no Buggpedia e pesquise sobre algum indicador! </p>
</section>


<%- include("partials/footer"); -%>