
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFFFE;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    top: 0;
    width: 100%;
    background-color: #1B1A17;
    color: #ffff;
    padding: 40px 0;
}

h1 {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    margin: 5% auto 2%;
}

::placeholder {
    text-align: center;
    font-size: 1rem;
}

.form-control {
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    padding: 0px 8px;
    margin: 0 auto 2%;
}

.guide-section {
    margin-top: 5%;
    color: #212121;
}


.btn {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #fff;
    margin: 20px 5px auto;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    box-shadow: -6px -6px 12px #c5c5c5,
                6px 6px 12px #fff;
}

.btn:active {
	position:relative;
	top:1px;
}

.head-form {
    display: inline-flex;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #1B1A17;
    color: #ffff;
    padding: 30px 0;
 
  }

@media (max-width: 420px) {
    h1 {
        font-size: 3rem;
    }

    .guide-section {
        margin-top: 15%;
    }
}
  